# My own files
*.doc
*.docx
.DS_Store
benchmarks
yasat
hornSatChecker
preprocess.py
report.pages
report.pdf
testsat.py
testunsat.py
course

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
